body{
   background:#82b1ff;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}
h1{
    color:bisque;
    text-align: center;
}

/*estilo del Hear*/

header {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    height: 100px;
	overflow:hidden; /* Eliminamos errores de float */
	background: #ef9a9a;
    margin-bottom:20px;
    

}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
    overflow:hidden; /* Eliminamos errores de float */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
 
header .logo {
	color:#f2f2f2;
	font-size:20px;
	line-height:200px;
    float:left;
    margin-top: -70px;
  
}
/*busqueda*/
header .search {
    position: relative;
    height: 50px;
    
}
header  .search .input {
   
    border: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 15px;
    font-family: inherit;
    font-size: 15px;
    color: #2c3e50;
    transition: 1s;
}
  
.btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    color: #2c3e50;
    background-color: #fff;
    /*transition: transform 0.3s ease;*/
    
  
}
  
  
  .btn:focus,
  .input:focus {
   outline:white;
  }
  
  .search.active .input {
  
    width: 300px; /* amplitud de Input*/
    background: white;
    
  }
  
  .search.active .btn {
    transform: translateX(0px);
  }

 
/* la capa de #particles-js*/
#particle_background canvas{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
/*Estilo de la galareria*/

.galeria{
    width: 100%;
    margin: auto;
    list-style-type: none;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li{
    margin: 2px;
}
.galeria img {
    width: 200px;
    height: 100px;
}
.galeria_item{
    cursor:pointer;

}

.titulo_Reto{
    font-size: 12px;
}
footer{
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    height: 50px;
	overflow:hidden; /* Eliminamos errores de float */
	background: #ef9a9a;
    margin-bottom:20px;
}
footer p {
    font-size: 15px;
    color: snow;
}


@media (min-width: 480px){
  .galeria_item{
      width: 48%;
      margin: 5px;
      
  }
}
@media (min-width: 768px){
    .galeria_item{
        width: 33%;
        margin: 5px;
        
    }
  }
  @media (min-width: 1024px){
    .galeria_item{
        width: 20%;
        margin: 15px;
        
    }
  }